<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Staffing Savings Calculator</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Montserrat:100,300,400,500,600,700|Quicksand|Raleway:300,400,500,600,700" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

    	$(document).ready(function(){
    		console.log("page is ready!");


    		$('[data-toggle="popover"]').popover();

    		// set the variables
    		var industry, zipcode, billableRate, useStaffingAgency, staffingAgency, numOfWorkers;
    		var minimumWageUrl, fillRate, city, state_code, savingsAmount;
    		
    		$("#staffingAgency").change(function() {
    			staffingAgency = $(this).val();
    			// console.log(staffingAgency);
    		});
    		$("#industry").change(function() {
    			industry = $(this).val();
    			// console.log(industry);
    		});
    		$("#zipcode").change(function() {
    			zipcode = $(this).val();
    			// console.log(zipcode);

    		});
    		$("#billable_hourly_rate").change(function(event) {
    			billableRate = $(this).val();
    			// console.log(billableRate);
    		});

    		$("#numOfWorkers").change(function() {
    			numOfWorkers = $(this).val();
    			// console.log(numOfWorkers);
    			// if(numOfWorkers = 0){
    			// 	// create error
    			// }
    		});


			$("input:radio[name='agencyBool']").change(function() {

    			if($(this).val() == "yes") {

    				$("#agencySelection").attr("hidden", false);
    				$("#billableRateTitle").text("Billable Rate");
    				$("#billableRateQues").text("What is your hourly billable rate for 1 worker?");


    			} else {

    				$("#agencySelection").attr("hidden", true);
    				$("#billableRateTitle").text("Hourly Wage");
    				$("#billableRateQues").text("What is your hourly wage for 1 worker?");
    				staffingAgency = "";
    			}

    			useStaffingAgency = $(this).val();
    			// console.log(useStaffingAgency);

    		});

    		$("#savingsCalc").submit(function(event){
    			
				event.preventDefault();
    			calculateSavings();
    			
    		});

    		function calculateSavings(){
    			console.log("calculating savings now...")



    			// checkInputValidation(billableRate, numOfWorkers)



    			axios.post('/calculate-savings', {
    				industry: industry,
					zipcode: zipcode,
					billableRate: billableRate,
					staffingAgency: staffingAgency,
					numOfWorkers: numOfWorkers,
					useStaffingAgency: useStaffingAgency,
    			})
    			.then((response) => {


    				if(response.data.min_wage_err){

    					console.log('min wage error');
    					// create error message alert???
    					$("#message").switchClass("alert-success", "alert-danger").fadeIn(300);
    					$("#inner-message").html(response.data.min_wage_msg);
    					window.setTimeout(hideMessage, 4000);

    				} else {

    					// use res.body.data values
	    				// to populate the dynamic html

	    				console.log('CalculateSavings() response');
	    				// console.log(res);

	    				var total_savings_amount = Math.round(response.data.savings);
	    				total_savings_amount = total_savings_amount.toLocaleString();
	    				var savings_msg = response.data.savings_msg;

	    				var fill_rate_percent = Math.round(parseFloat(response.data.fill_rate)*100);
	    				var fill_rate_msg = response.data.fill_rate_msg;

	    				$("#savingsAmount").text(total_savings_amount);
	    				$("#savings_msg").text(savings_msg);

	    				$("#fillRateValue").text(fill_rate_percent);
	    				$("#fillRateMsg").text(fill_rate_msg);


	    				delayResults(showResults);
	    				var caseStudyContent;

		    			if(response.data.industry === "Delivery"){

							// console.log("The industry is: " + response.data.industry);
							caseStudyContent = "";
							$("#caseStudyImg").attr("src", "/images/delivery.png");
							$("#caseStudyDesc").text(caseStudyContent);

						} else if(response.data.industry === "Merchandising") {

							// console.log("The industry is: " + response.data.industry);
							caseStudyContent = "";
							$("#caseStudyImg").attr("src", "/images/retail.png");
							$("#caseStudyDesc").text(caseStudyContent);

					    } else if(response.data.industry === "Event_Staff") {

					    	// console.log("The industry is: " + response.data.industry);
					    	caseStudyContent = "";
					    	$("#caseStudyImg").attr("src", "/images/event_staffing.png");
					    	$("#caseStudyDesc").text(caseStudyContent);

					    } else {

					    	// console.log("The industry is: " + response.data.industry);
					    	caseStudyContent = "";
					    	$("#caseStudyImg").attr("src", "/images/warehousing.png");
					    	$("#caseStudyDesc").text(caseStudyContent);

					    }


    				}

    				

    			})
    			.catch((err) => {
    				console.log("an error has occured in calculate savings");
    				console.log(err);
    			})


    			
    		}


    		// function checkInputValidation(billableRate, numOfWorkers){

    		// 	console.log(typeof billableRate);
    		// 	if(billableRate[0] = 0){

    		// 		var err_message = "Your billable rate can not begin with 0";

    		// 	}

    		// 	console.log(typeof numOfWorkers);
    		// 	if(numOfWorkers[0] = 0){

    		// 		var err_message = "Number of workers can not begin with 0";

    		// 	}


    		// }


			function showResults(){

				// transition the form to smaller size and float
				$("#formContainer").switchClass("col-12", "col-md-7");

				$("#industry").switchClass("col-md-6", "col-md-10");

				$("#zipcode").switchClass("col-md-6", "col-md-10");

				$("#staffingAgency").switchClass("col-md-6", "col-md-10");

				$("#billableRateGroup").switchClass("col-md-3", "col-md-10");

				$("#numWorkersGroup").switchClass("col-md-3", "col-md-10");

				$("#calculateBtn").switchClass("col-md-6", "col-md-10");

				$("#resultsContainer").delay(2000).fadeIn(4000);

				$("#formContainer").addClass("offset-md-1");

				// end spinning wheel by removing class
			};

			function delayResults(func){

				// trigger spinning wheel by adding a class
				window.setTimeout( func, 2000 );

			}


			var first_name, last_name, email, phone, company, position;
			var call_me = false;

			$("#first_name").change(function() {
    			first_name = $(this).val();
    			// console.log(first_name);
    		});

    		$("#last_name").change(function() {
    			last_name = $(this).val();
    			// console.log(last_name);
    		});

    		$("#email").change(function() {
    			email = $(this).val();
    			// console.log(email);
    		});

    		$("#phone").change(function() {
    			phone = $(this).val();
    			// console.log(phone);
    		});

    		$("#company").change(function() {
    			company = $(this).val();
    			// console.log(company);
    		});

    		$("#position").change(function() {
    			position = $(this).val();
    			// console.log(position);
    		});

    		$("#contact_true").change(function() {
    			// call_me = $(this).val();
    			if ($('#contact_true').is(":checked")) {
					// it is checked
					call_me = true;

				} else {

					call_me = false;

				}
				// console.log(call_me);
    		})




			$("#contact-us").submit(function(event){
				// console.log('whatever')
				event.preventDefault();
				submitContact();

			});


			function submitContact(){




				console.log("submitting contact form...")
    			axios.post('/contact', {

    				first_name: first_name,
					last_name: last_name,
					email: email,
					phone: phone,
					company: company,
					position: position,
					call_me: call_me,
					industry: industry,

    			})
    			.then((response) => {

    				console.log("no probs");
    				$("#contactFormModal").modal("hide");
    				$("#contact-us").trigger("reset");
    				$("#message").fadeIn(300);
    				$("#inner-message").text(response.data);

    				window.setTimeout(hideMessage, 2000);


    			})
    			.catch((err) => {
    				console.log("an error has occured in submitting contact");
    				console.log(err);
    			})


			}

			function hideMessage(){
				$("#message").fadeOut(800);
			}



			


    	}); // document.ready() end



    </script>


</head>
<body>

	<!-- Alerts -->

	<div id="message" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
	  <span id="inner-message"></span>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>


	<!-- Jumbotron -->
	<div class="jumbotron jumbotron-fluid mb-0" id="hero-image">
	  <div class="container">
	  	<div class="col-12">
		    <h1 class="section__heading text-center">Workforce Savings Estimator</h1>
		    <h2 class="section__subheading text-center col-md-10 offset-md-1">By leveraging technology, Wonolo is able to fulfill your fluctuating workforce needs at a fraction of the cost. Use our Savings Estimator to find out just how much we can save your business.</h2>
		</div>
	  </div>
	</div>
	<!-- end of Jumbotron -->

	<!-- Main Content -->
	<div class="container pt-5 pb-5">
		<div class="row">
			<!-- resultsContainer -->
			<div class="col-md-4" id="resultsContainer" style="display:none;">
				<div class="row">
					<!-- Headline + subheadline -->
					<div class="col-12 pl-md-0 pr-md-0">
						<p class="results__heading">Estimated Annual Savings</p>
						
					</div>
				</div>
				<div class="row">
					<!-- $avings Amount -->
					<div class="col-12" id="estimatedSavings">
						<p>Estimated dollar amount you'll be saving this year</p>
						<h3>$<span id="savingsAmount"></span></h3>
						<p class="results__subheading"><span id="savings_msg"></span></p>
					</div>
				</div>
				<div class="row">
					<!-- Fill Rate -->
					<div class="col-12" id="fillRate">
						<p>Fill Rate<i class="fas fa-info-circle" style="margin-left:10px" data-toggle="popover" data-trigger="hover" title="Fill Rate" data-content="Fill Rate is estimated based on your region, industry, hourly wage, and Wonolo's historical performance."></i></p>
						<h3><span id="fillRateValue"></span>%</h3>
						<p><span id="fillRateMsg"></span></p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 pl-md-0 pr-md-0">
						<p>Let's put you in touch with your Wonolo Concierge.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 pl-md-0 pr-md-0">
						<label style="font-weight:600" class="m-0 pb-2 pt-2">Ready to get started?</label>
						<button type="button" id="saveStaffingBtn" class="btn btn-primary float-md-right" data-toggle="modal" data-target="#contactFormModal">SAVE ON STAFFING</button>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModal" aria-hidden="false">
					  <div class="modal-dialog modal-lg">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="contactFormModal">Download this FREE case study to see how Wonolo helped businesses similar to yours.</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					      	<div class="row">
						      	<div class="col-12 col-md-6">
						      		<img src="#" id="caseStudyImg" class="col-12" alt=""/>
						      		<p id="caseStudyDesc"></p>
						      	</div>
						      	<div class="col-12 col-md-6 pt-5 pt-md-0">
						      		{{> contact_form}}
						      	</div>
						    </div>
					      </div>
					    </div>
					  </div>
					</div> <!-- end of Modal -->
				</div>
				<hr class="d-block d-sm-none">
			</div>
			<!-- end of resultsContainer -->

			<!-- formContainer -->
			<div class="col-12" id="formContainer" style="transition: all 2s;">
				<form id="savingsCalc" method="post" enctype="multipart/form-data">
					<div class="row question pt-md-0">
						<div class="col-12 col-md-6">
							<!-- Mobile Screen -->
							<p class="d-block d-sm-none text-center">Industry</p>
							<!-- Larger than mobile -->
							<p class="d-none d-sm-block mb-0">What industry are you in?</p>
						</div>
						<div class="col-12 col-md-6">
							<select id="industry" class="custom-select custom-select-lg mb-0 col-md-6 float-md-right" name="industry">
								<option value="None" selected>Select Industry</option>
								<option value="Fulfillment_Warehousing">Warehouse/Fulfillment</option>
								<option value="Delivery">Delivery</option>
								<option value="Food_Production">Food Production</option>
								<option value="General_Labor">General Labor</option>
								<option value="Merchandising">Merchandising</option>
								<option value="Customer_Service">Customer Service</option>
								<option value="Administrative">Administrative</option>
								<option value="Event_staff">Event Staff</option>
								<option value="Washing_Cleaning">Washing & Cleaning</option>
								<option value="Brand_Ambassador">Brand Ambassador</option>
								<option value="Other">Other</option>
							</select>
						</div>
					</div>
					<div class="row question">
						
						<div class="col-12 col-md-6">
							<!-- Mobile Screen -->
							<p class="d-block d-sm-none text-center">Zipcode</p>
							<!-- Larger than mobile -->
							<p class="d-none d-sm-block mb-0">What zipcode would you like to post jobs in?</p>

						</div>
						<div class="col-12 col-md-6">
							<input type="text" pattern="[0-9]{5}" maxlength="5" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control col-md-6 float-md-right" id="zipcode" name="zipcode" placeholder="ex. 94012" style="transition: all 2s" required>
						</div>
						
					</div>
					<div class="row question">
						
						<div class="col-12 col-md-6">
							<!-- Mobile Screen -->
							<p class="d-block d-sm-none text-center"><span id="billableRateTitle">Billable Rate<span/><span class="fas fa-info-circle" style="margin-left:10px" data-toggle="popover" data-trigger="hover" data-placement="top" title="Billable Rate" data-content="Billable rate includes the following costs: Hourly Wage, Agency % Fee, Workers Comp. If you do NOT use an agency, please input only the hourly wage you pay a worker."></span></p>
							<!-- Larger than mobile -->
							<p class="d-none d-sm-block mb-0"><span id="billableRateQues">What is your hourly billable rate for 1 worker?</span><span class="fas fa-info-circle" style="margin-left:10px;" data-toggle="popover" data-trigger="hover" title="Billable Rate" data-content="Billable rate includes the following costs: Hourly Wage, Agency % Fee, Workers Comp. If you do NOT use an agency, please input only the hourly wage you pay a worker."></span></p>
						</div>
						<div class="col-12 col-md-6 no-gutters">
							
							<div class="input-group col-md-6 float-md-right" id="billableRateGroup" style="transition: all 2s;">
							  <div class="input-group-prepend">
							    <span class="input-group-text">$</span>
							  </div>
							  <input type="text" pattern="[1-9][0-9]*" onkeypress="return event.charCode >= 48 && event.charCode <= 57" id="billable_hourly_rate" name="billable_rate" class="form-control" required>
							</div>

						</div>
						
					</div>
					<div class="row question">
						
						<div class="col-12 col-md-6">
							<!-- Mobile Screen -->
							<p class="d-block d-sm-none text-center">Staffing Agency</p>
							<!-- Larger than mobile -->
							<p class="d-none d-sm-block mb-0">Do you currently use a staffing agency?</p>
							<!-- If YES, add another field -->
						</div>
						<div class="col-12 col-md-6 text-center">
							<div class="btn-group btn-group-toggle float-md-right" data-toggle="buttons">
							  <label class="btn btn-secondary">
							    <input type="radio" name="agencyBool" id="staffingAgencyBoolean" autocomplete="off" value="yes">Yes
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="agencyBool" id="staffingAgencyBoolean" autocomplete="off" value="no">No
							  </label>
							</div>
						</div>
						
					</div>
					<!-- only show if selected 'YES' to previous input -->
					<div class="row question" id="agencySelection" hidden="true">
						
						<div class="col-12 col-md-6 offset-md-6" style="transition: all 2s;">
							<select id="staffingAgency" class="custom-select custom-select-lg mb-0 col-md-6 float-md-right" name="staffcingAgency" required>
								<option value=" ">Select Staffing Agency</option>
						        <option value="Adecco">Adecco</option>
						        <option value="Aerotek">Aerotek</option>
						        <option value="Chartwell">Chartwell</option>
						        <option value="Elwood">Elwood</option>
						        <option value="EmployBridge">EmployBridge</option>
						        <option value="Express">Express</option>
						        <option value="Integrity">Integrity</option>
						        <option value="Kelly Services">Kelly Services</option>
						        <option value="KNF&T">KNF&T</option>
						        <option value="Manpower">Manpower</option>
						        <option value="Randstad">Randstad</option>
						        <option value="Robert Half International">Robert Half International</option>
						        <option value="Roth Staffing">Roth Staffing</option>
						        <option value="TrueBlue/Labor Ready">TrueBlue/Labor Ready</option>
						        <option value="Volt">Volt</option>
						        <option value="Other">Other</option>
							</select>
						</div>

					</div>
					<div class="row question">
						
						<div class="col-12 col-md-6">
							<!-- Mobile Screen -->
							<p class="d-block d-sm-none text-center">Number of Workers</p>
							<!-- Larger than mobile -->
							<p class="d-none d-sm-block mb-0">How many workers do you need per day?</p>
						</div>
						<div class="col-12 col-md-6 no-gutters">

							<div class="input-group col-md-6 float-md-right" id="numWorkersGroup" style="transition: all 2s;">
							  <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fas fa-male fa-lg"></i></span>
							  </div>
							  <input type="text" pattern="[1-9][0-9]*" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control col-md-12 float-md-right" id="numOfWorkers" name="numOfWorkers" placeholder="ex. 10" required>
							</div>
							
						</div>
						
					</div>
					<div class="row submit-btn-container text-center">
						
						<div class="col-12 col-md-6">
						</div>
						<div class="col-12 col-md-6">
							<button type="submit" class="btn float-md-right col-md-6 pt-3 pb-3 calculate-btn" id="calculateBtn">CALCULATE SAVINGS</button>
						</div>
						
					</div>
				</form>
			</div>
			<!-- end of formContainer -->
		</div>
		<!-- Disclaimer -->
		<div class="container" id="disclaimer" hidden="false">
			<div class="row">
				<div class="col-12">
					<p>Disclaimer: The estimates are generated by using historical data and information collected on traditional staffing agencies. The numbers are purely estimates and may not differ in terms of real results. We do not guarantee your business will see these specific results - we'll come darn close or even exceed expectations.</p>
				</div>
			</div>
		</div>
		<!-- end of Disclaimer -->
	</div>
	<!-- end of Main Content -->


<!-- Optional JavaScript -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>